################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/OiAKProjekt/v16/ipch/AutoPCH/b6617f7b30bf3356
/.vs/OiAKProjekt/v16/ipch/AutoPCH/fb5b1c8d6a95d84c
/.vs/OiAKProjekt/v16
/CppProperties.json
/.vs/ProjectSettings.json
/.vs/tasks.vs.json
/.vs/VSWorkspaceState.json
